<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/stylesheet/products.css">
    <script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="search">
        <form action="/shop/products/search" method="GET">
            <input type="text" name="query" placeholder="Search products...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="products">
        <% products.forEach(function(product) { %>
            <div class="product-card">
                <div class="image">
                    <img src="data:<%= product.image.contentType %>;base64,<%= product.image.toString('base64') %>"
                        alt="product-image">
                    <div class="add-to-cart">
                        <form action="/shop/addToCart/<%= product._id %>" method="POST">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                    <path
                                        d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                </svg></button>
                        </form>
                    </div>
                    <div class="delete">
                        <form action="/products/delete/<%= product._id %>">
                            <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                      fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 1 .5-.5h.5v-.8A1.99 1.99 0 0 0 10.01 2H9V1a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v1H4A1.99 1.99 0 0 0 2.01 4V4h.5a.5.5 0 0 1 .5.5zM4.118
                        .01A2 2 0 0 0 3.5 4h9a2 2 0 0 0-.618-3.99L12.5 0h-1l-.01-.01zM5 1h6v1H5V1zm7 4H4v8a2 2 0 0 0 2 2h4a2 2 0 0 0 2-2V5z" />
                    </svg></button>
                        </form>
                    </div>
                </div>
                <div class="product-detail">
                    <p>
                        <%= product.name %>
                    </p>
                    <p> ₹<span>
                            <%= product.price %>
                        </span>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>
</body>

</html>